.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.global {
	display: flex;
	gap: 20px;
	font-size: 20px;
}

.table {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.chart {
	height: 300px;
}

.countries {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.country {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 8px;
	background: var(--light-background-color);
	padding: 12px;
}

.city {
	display: flex;
	gap: 4px;
	justify-content: space-between;
}
