.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.global {
	display: flex;
	gap: 20px;
	font-size: 20px;
}

.table {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.chart {
	height: 300px;
	max-width: 600px;
	width: 100%;
}

.countries {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.country {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 8px;
	background: var(--light-background-color);
	padding: 12px;
}

.city {
	display: flex;
	gap: 4px;
	justify-content: space-between;
}

.city__title_destroyed {
	color: var(--red-text-color);
	border-radius: 4px;
}

.red,
.green,
.orange {
	font-weight: 500;
	border-radius: 4px;
	padding: 2px 6px;
	color: #fff;
}

.red {
	background: var(--red-text-color);
}

.orange {
	background: var(--orange-color);
}

.green {
	background: var(--green-color);
}
