.timer {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(-50%);
	background: #00000040;
	color: #fff;
	padding: 12px 20px;
}
