.section {
	display: flex;
	gap: 24px;

	@media screen and (max-width: 1279px) {
		gap: 16px;
	}
}

.block {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background: var(--light-background-color);
	border-radius: 8px;
	padding: 20px;
	flex-grow: 1;
	width: 100%;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	list-style: none;
}

.country {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 4px 4px;
	border-bottom: 2px solid var(--border-color);
	cursor: pointer;

	&:has(:disabled) {
		cursor: default;
	}
}

.country.sanctioned {
	color: var(--red-text-color);
}

.checkbox {
	accent-color: var(--background-color);
}
